.clients-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.clients-container {
  @include media(desktop) {
  }
}

.clients-title {
  text-align: center;

  @include media(desktop) {
  }
}

.clients-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
  }
}

.clients-list-item {
  backdrop-filter: blur(4px);
  background: rgba(26, 29, 35, 0.8);
  border-bottom: 4px solid #393e46;
  border-left: 2px solid #393e46;
  border-right: 3px solid #393e46;
  border-top: 2px solid #393e46;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  max-width: 335px;
  min-height: 172px;

  @include media(desktop) {
    max-width: 276px;

    &:nth-child(even) {
      transform: translateY(76px);
    }
  }
}

.clients-icon {
  min-width: 32px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.clients-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #f2f2f2;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.clients-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #a6a6a6;

  @include media(desktop) {
  }
}

.clients-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: -0.04em;
  text-align: center;
  color: #f2f2f2;

  @include media(desktop) {
    max-width: 1003px;
    margin-left: auto;
    margin-right: auto;
  }
}
