.collaborators-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.collaborators-container {
  @include media(desktop) {
  }
}

.collaborators-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
}

.collaborators-list-item {
  border-radius: 20px;
  width: 100%;
  max-width: 335px;
  min-height: 464px;

  &:nth-child(1) {
    background: linear-gradient(180deg, #fe6401 0%, rgba(0, 0, 0, 0.15) 99.86%);
    opacity: 0.6;
  }

  &:nth-child(2) {
    border: 1px solid #f06e42;
    background: linear-gradient(180deg, #fe6401 0%, rgba(0, 0, 0, 0.15) 99.86%);
  }

  &:nth-child(3) {
    background: linear-gradient(180deg, #fe6401 0%, rgba(0, 0, 0, 0.15) 99.86%);
    opacity: 0.6;
  }

  @include media(desktop) {
  }
}

.collaborators-img {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.collaborators-item-text-wrapper {
  padding: 24px;

  @include media(desktop) {
  }
}

.collaborators-item-name {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  color: #fff;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.collaborators-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  opacity: 0.8;

  @include media(desktop) {
  }
}
