.contact-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

.contact-top-wrapper {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
    max-width: 599px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
  }
}

.contact-list-item {
  background: rgba(17, 19, 23, 0.5);
  border-bottom: 4px solid #393e46;
  border-left: 2px solid #393e46;
  border-right: 3px solid #393e46;
  border-top: 2px solid #393e46;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 100%;

  &:last-child {
    background: rgba(33, 36, 44, 0.3);
    border: 1px solid #393e46;

    .contact-item-text {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #a6a6a6;
    }
  }

  @include media(desktop) {
  }
}

.contact-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #a6a6a6;

  @include media(desktop) {
  }
}

.contact-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #f2f2f2;

  @include media(desktop) {
  }
}

.contact-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
