.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 78px;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom 64px center;
  background-size: auto;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 112px;
    background-image: url(../img/contact/contact-bg-desk.png);
    background-position: bottom 100px center;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: center;
  margin-bottom: 281px;

  @include media(desktop) {
    margin-bottom: 360px;
  }
}

.contact-content-wrapper {
  background: rgba(22, 99, 185, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px 12px;
  max-width: 307px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 20px 40px;
    max-width: 1101px;
  }
}

.contact-update-wrapper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;

  @include media(desktop) {
    flex-direction: row;
    gap: 36px;
    width: 100%;
    max-width: 591px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}

.contact-update-text {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
    min-width: 273px;
  }
}

.contact-address-wrapper {
  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.contact-list {
  @include media(desktop) {
  }
}

.contact-list-item {
  display: flex;
  align-items: center;

  @include media(desktop) {
  }
}

.contact-item-title {
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    min-width: 26px;
  }
}

.contact-item-text {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.contact-bottom-text {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}
