.footer {
  background: #001b38;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 42px;
  padding-bottom: 80px;
  background-image: url(../img/footer/footer-small-flower-mob.png),
    url(../img/footer/footer-big-flower-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom 14px center;
  background-size: auto, auto;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/footer/footer-small-flower-desk.png),
      url(../img/footer/footer-big-flower-desk.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left 118px, bottom 8px right 50px;
    max-width: 1440px;
  }
}

.footer-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
}

.footer-nav {
  margin-bottom: 10px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
  }
}

.footer-list-item {
  position: relative;

  &:not(:last-child) {
    padding-right: 0.5em;
    margin-right: 0.5em;

    &::after {
      content: '|';
      position: absolute;
      right: -0.2em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @include media(desktop) {
  }
}

.footer-link {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.66667;
  color: #fff;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus {
  }

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer-text {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 2;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 12px;
    line-height: 1.33333;
  }
}
