.header {
  background: #005ddc;
  border-radius: 0 0 28px 28px;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 24px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.55556;
    color: #69a9ff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -5px;
      top: 50%;
      width: 2px;
      height: 28px;
      background: #fe6401;
      transform: translateY(-50%) scaleY(0);
      transform-origin: center;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    &:hover,
    &.active {
      color: #fff;

      &::before {
        transform: translateY(-50%) scaleY(1);
      }
    }
  }
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    display: none;
  }
}

.header:has(.close-btn.is-open) {
  border-radius: 0;
}
