.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top 0 center;
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 33px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 208px;
    padding-bottom: 177px;
    background-image: url(../img/hero/hero-bg-desk.png);
    max-width: 1440px;
    position: relative;
  }
}

.hero-title {
  text-shadow: 0 0 20px rgba(254, 100, 1, 0.8);
  font-family: 'Consolas', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: -0.04em;
  color: #f2f2f2;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 40px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f2f2f2;
  margin-bottom: 28px;

  @include media(desktop) {
    max-width: 564px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 283px;
  max-width: max-content;

  @include media(desktop) {
    justify-content: start;
    margin-bottom: 0;
  }
}

.hero-btn-img {
}

.hero-bottom-text-wrapper {
  backdrop-filter: blur(25px);
  background: rgba(240, 110, 66, 0.15);
  border-radius: 10px;
  padding: 24px 20px;
  max-width: 335px;

  @include media(desktop) {
    position: absolute;
    bottom: 68px;
    right: 200px;
    padding: 36px 48px;
    max-width: 572px;
  }
}

.hero-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #f2f2f2;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}
