.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  background-image: url(../img/hero/hero-bg-mob.png),
    url(../img/hero/hero-retouch-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, top center;
  background-size: auto, cover;
  padding-top: 140px;
  padding-bottom: 415px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 193px;
    padding-bottom: 188px;
    background-image: url(../img/hero/hero-bg-desk.png),
      url(../img/hero/hero-retouch-desk.jpg);
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Rowdies', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: #005fda;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 64px;
    line-height: 1.0625;
    max-width: 753px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-text {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #003156;
  margin-bottom: 28px;

  @include media(desktop) {
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;

  @include media(desktop) {
  }
}

.hero-btn-img {
}
