.inside-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.inside-container {
}

.inside-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

.inside-top-wrapper {
  margin-bottom: 36px;

  @include media(desktop) {
    max-width: 560px;
    margin-bottom: 0;
  }
}

.inside-title {
  text-align: left;

  @include media(desktop) {
  }
}

.inside-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.inside-list-item {
  background: rgba(17, 19, 23, 0.5);
  border-bottom: 4px solid #393e46;
  border-left: 2px solid #393e46;
  border-right: 3px solid #393e46;
  border-top: 2px solid #393e46;
  border-radius: 4px;
  padding: 14px 15px;
  display: flex;
  gap: 16px;
  align-items: end;

  @include media(desktop) {
  }
}

.inside-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.inside-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.56425;
  color: #f2f2f2;

  @include media(desktop) {
  }
}

.inside-text-wrapper {
  background: rgba(33, 36, 44, 0.3);
  border: 1px solid #393e46;
  border-radius: 4px;
  padding: 25px 20px;

  @include media(desktop) {
  }
}

.inside-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #a6a6a6;

  @include media(desktop) {
  }
}

.inside-img {
  @include media(desktop) {
    min-width: 660px;
  }
}
