.lab-section {
  padding-top: 64px;
  padding-bottom: 71px;

  @include media(desktop) {
    padding-bottom: 109px;
  }
}

.lab-container {
}

.lab-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 76px;
  }
}

.lab-top-wrapper {
  margin-bottom: 36px;

  @include media(desktop) {
    max-width: 544px;
    margin-bottom: 0;
  }
}

.lab-title {
  @include media(desktop) {
    text-align: left;
    max-width: 479px;
  }
}

.lab-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #a6a6a6;
  margin-bottom: 36px;

  @include media(desktop) {
  }
}

.lab-top-content-bottom-wrapper {
  background: rgba(26, 29, 35, 0.5);
  border-left: 4px solid #fe6401;
  padding: 32px 28px;

  @include media(desktop) {
  }
}

.lab-lightning-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 28px;

  @include media(desktop) {
  }
}

.lightning-icon {
  min-width: 19px;

  @include media(desktop) {
  }
}

.lab-lightning-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #f2f2f2;

  @include media(desktop) {
  }
}

.lab-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #a6a6a6;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.lab-attention-wrapper {
  display: flex;
  gap: 8px;

  @include media(desktop) {
  }
}

.attention-icon {
  min-width: 20px;

  @include media(desktop) {
  }
}

.lab-attention-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fe6401;

  @include media(desktop) {
  }
}

.lab-img {
  @include media(desktop) {
    min-width: 660px;
  }
}
