.context-menu {
  display: none;
  background: linear-gradient(180deg, #005ddc 0%, #003276 100%);
  border-radius: 0 0 40px 40px;
  padding: 56px 60px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 58px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.context-list-link {
  font-family: 'Rowdies', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55556;
  color: #69a9ff;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    width: 2px;
    height: 28px;
    background: #fe6401;
    transform: translateY(-50%) scaleY(0);
    transform-origin: center;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  &:active {
    color: #fff;

    &::before {
      transform: translateY(-50%) scaleY(1);
    }
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
