.pricing-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.pricing-container {
  @include media(desktop) {
  }
}

.pricing-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 60px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.pricing-list-item {
  width: 100%;
  max-width: 335px;
  min-height: 400px;
  border-bottom: 4px solid #393e46;
  border-left: 2px solid #393e46;
  border-right: 3px solid #393e46;
  border-top: 2px solid #393e46;
  border-radius: 8px;
  padding: 28px 16px;

  &:nth-child(odd) {
    backdrop-filter: blur(4px);
    background: rgba(26, 29, 35, 0.8);

    .pricing-icon-wrapper {
      background: rgba(48, 171, 232, 0.1);
    }

    .pricing-item-link {
      background: #272c35;
    }
  }

  &:nth-child(even) {
    backdrop-filter: blur(4px);
    box-shadow: 0 0 0 2px #f06e42;
    background: rgba(26, 29, 35, 0.8);

    .pricing-icon-wrapper {
      background: rgba(240, 110, 66, 0.2);
    }

    .pricing-item-link {
      background: #f06e42;
    }
  }

  @include media(desktop) {
    max-width: 366px;
    padding: 36px;
  }
}

.pricing-icon-wrapper {
  border-radius: 100%;
  min-width: 64px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.pricing-icon {
  min-width: 32px;
}

.pricing-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.pricing-item-price {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #f06e42;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.pricing-item-span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #a6a6a6;
}

.pricing-features-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.pricing-features-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #a6a6a6;
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.pricing-features-item-span {
  background: #fff;
  border-radius: 100%;
  min-width: 6px;
  height: 6px;

  @include media(desktop) {
  }
}

.pricing-item-link {
  padding: 10px;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.43885;
  text-align: center;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.pricing-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: -0.04em;
  text-align: center;
  color: #f2f2f2;

  @include media(desktop) {
  }
}
