<section id="cookie-banner" class="cookie-banner-section">
  <p class="cookie-banner-text">
    We use cookies and similar technologies.<br class="cookie-banner-br" />
    By clicking Allow you agree to this.
    <a class="cookie-banner-link" target="_blank" href="policies.pdf#page=11"
      >Learn more</a
    >
  </p>
  <div class="cookie-banner-buttons">
    <button class="cookie-decline-btn" id="cookie-decline">Decline</button>
    <button class="cookie-accept-btn" id="cookie-accept">Allow</button>
  </div>
</section>
