<section class="collaborators-section section" id="collaborators">
  <div class="container collaborators-container">
    <h2 class="collaborators-title section-title">The Unofficial Team</h2>
    <ul class="collaborators-list">
      <li class="collaborators-list-item">
        <picture>
          <source
            srcset="./img/collaborators/collaborators-img1-desk.png"
            media="(min-width: 1440px)"
            width="362"
            height="280"
          />
          <source
            srcset="./img/collaborators/collaborators-img1-mob.png"
            width="335"
            height="280"
          />
          <img
            class="collaborators-img"
            src="./img/collaborators/collaborators-img1-mob.png"
            alt="Avatar"
            width="335"
            height="280"
            loading="lazy"
          />
        </picture>
        <div class="collaborators-item-text-wrapper">
          <h3 class="collaborators-item-name">Altbau-Elektrik GmbH</h3>
          <p class="collaborators-item-text">
            called our wiring illegal, then fixed it for beer
          </p>
        </div>
      </li>
      <li class="collaborators-list-item">
        <picture>
          <source
            srcset="./img/collaborators/collaborators-img2-desk.png"
            media="(min-width: 1440px)"
            width="362"
            height="280"
          />
          <source
            srcset="./img/collaborators/collaborators-img2-mob.png"
            width="335"
            height="280"
          />
          <img
            class="collaborators-img"
            src="./img/collaborators/collaborators-img2-mob.png"
            alt="Avatar"
            width="335"
            height="280"
            loading="lazy"
          />
        </picture>
        <div class="collaborators-item-text-wrapper">
          <h3 class="collaborators-item-name">Elena Brandt</h3>
          <p class="collaborators-item-text">
            systems designer who swears the Unit has moods
          </p>
        </div>
      </li>
      <li class="collaborators-list-item">
        <picture>
          <source
            srcset="./img/collaborators/collaborators-img3-desk.png"
            media="(min-width: 1440px)"
            width="362"
            height="280"
          />
          <source
            srcset="./img/collaborators/collaborators-img3-mob.png"
            width="335"
            height="280"
          />
          <img
            class="collaborators-img"
            src="./img/collaborators/collaborators-img3-mob.png"
            alt="Avatar"
            width="335"
            height="280"
            loading="lazy"
          />
        </picture>
        <div class="collaborators-item-text-wrapper">
          <h3 class="collaborators-item-name">Torben F.</h3>
          <p class="collaborators-item-text">
            sound engineer who spent three days trying to capture the sound of a
            successful hack
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
