<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-top-wrapper">
        <h2 class="contact-title section-title">Write, Don’t Ping</h2>
        <ul class="contact-list">
          <li class="contact-list-item">
            <h3 class="contact-item-title">Email</h3>
            <a href="mailto:team@megaunitgo.pro" class="contact-item-text"
              >team@megaunitgo.pro</a
            >
          </li>
          <li class="contact-list-item">
            <h3 class="contact-item-title">Location</h3>
            <p class="contact-item-text">
              Plange Mühle 1<br />
              40221 Düsseldorf, Germany
            </p>
          </li>
          <li class="contact-list-item">
            <p class="contact-item-text">
              We answer between runs. Sometimes right away, sometimes after
              coffee.
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/contact/contact-img-desk.png"
          media="(min-width: 1440px)"
          width="928"
          height="420"
        />
        <source
          srcset="./img/contact/contact-img-mob.png"
          width="335"
          height="420"
        />
        <img
          class="contact-img"
          src="./img/contact/contact-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="420"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
