<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="contact-title section-title">What changed this time</h2>
      <div class="contact-content-wrapper">
        <div class="contact-update-wrapper-wrapper">
          <p class="contact-update-text">
            Update — Oct 21 2025<br />
            – 50 new levels ( up to 900 )<br />
            – fixed treasure chest bug<br />
            – smoother performance
          </p>
          <div class="contact-address-wrapper">
            <p class="contact-text">Contact:</p>
            <ul class="contact-list">
              <li class="contact-list-item">
                <p class="contact-item-title">📧&nbsp;</p>
                <a href="mailto:team@netbyteix.site" class="contact-item-text"
                  >team@netbyteix.site</a
                >
              </li>
              <li class="contact-list-item">
                <p class="contact-item-title">📍&nbsp;</p>
                <p class="contact-item-text">Tallinn, Estonia</p>
              </li>
            </ul>
          </div>
        </div>
        <p class="contact-bottom-text">
          “If you spot a broken link or a sleeping dragon, tell us.”
        </p>
      </div>
    </div>
  </div>
</section>
