<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <div class="faq-content-wrapper">
      <div class="faq-text-wrapper">
        <h2 class="section-title faq-title">Quick answers</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play offline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-chevron"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Main story works offline; events need internet.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play offline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-chevron"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Main story works offline; events need internet.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play offline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-chevron"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Main story works offline; events need internet.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play offline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-chevron"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Main story works offline; events need internet.
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/faq/faq-img-mob.png"
          media="(min-width: 1440px)"
          width="647"
          height="523"
        />
        <source srcset="./img/faq/faq-img-mob.png" width="335" height="271" />
        <img
          class="faq-img"
          src="./img/faq/faq-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="271"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
