<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        The Room Listens.<br />
        The Room Learns
      </h1>
      <p class="hero-text">
        We had one stupid question: What happens when the walls pay
        attention?<br />
        Now the Unit lives at Plange Mühle 1 — a space where your silence, your
        movement, even your sweat feed the system. It doesn’t try to trick you.
        It reacts. People walk out realizing they weren’t solving puzzles; they
        were being measured.
      </p>
      <a href="#contact" class="hero-btn" aria-label="Book a Session">
        <img
          class="hero-btn-img"
          src="./img/hero/hero-btn.png"
          alt="Button"
          width="321"
          height="67"
      /></a>
      <div class="hero-bottom-text-wrapper">
        <p class="hero-bottom-text">
          Forget polished wood and fake padlocks. This thing began as a mess of
          sensors in a basement north of the Rhine.
        </p>
      </div>
    </div>
  </div>
</section>
