<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">When the world fell apart, the book opened</h1>
      <p class="hero-text">
        Ruth has lost everything — job, family, direction. Then she finds a
        strange storybook that doesn’t stay on the shelf. Inside, half-collapsed
        fairytales are waiting for someone to fix them.<br />
        MeWaii Adventure isn’t about matching for points. It’s about putting
        fragments back where they belong.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.mwigame.project.mwiadventure&hl=en&gl=us"
        class="hero-btn"
        aria-label="Book a Session"
        target="_blank"
        rel="noopener noreferrer"
      >
        <picture>
          <source
            srcset="./img/hero/hero-btn-desk.png"
            media="(min-width: 1440px)"
            width="366"
            height="72"
          />
          <source
            srcset="./img/hero/hero-btn-mob.png"
            width="332"
            height="72"
          />
          <img
            class="hero-btn-img"
            src="./img/hero/hero-btn-mob.png"
            alt="Button"
            width="332"
            height="72"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
