<section class="section inside-section" id="inside">
  <div class="container inside-container">
    <div class="inside-content-wrapper">
      <div class="inside-top-wrapper">
        <h2 class="inside-title section-title">
          Hardware Held Together with Spite and Zip Ties
        </h2>
        <ul class="inside-list">
          <li class="inside-list-item">
            <svg class="inside-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-wrench"></use>
            </svg>
            <p class="inside-item-text">
              Metal sheets that hum when you press too hard
            </p>
          </li>
          <li class="inside-list-item">
            <svg class="inside-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-bulb"></use>
            </svg>
            <p class="inside-item-text">
              Lights that surge when anxiety spikes
            </p>
          </li>
          <li class="inside-list-item">
            <svg class="inside-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-fan"></use>
            </svg>
            <p class="inside-item-text">
              A fan that speeds up with group volume
            </p>
          </li>
          <li class="inside-list-item">
            <svg class="inside-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-server"></use>
            </svg>
            <p class="inside-item-text">
              Whole system running on recycled server boards
            </p>
          </li>
        </ul>
        <div class="inside-text-wrapper">
          <p class="inside-text">
            We bought half of it off eBay, the rest from scrap heaps behind
            factories. You can tell.
          </p>
        </div>
      </div>
      <picture>
        <source
          srcset="./img/inside/inside-img-desk.png"
          media="(min-width: 1440px)"
          width="660"
          height="667"
        />
        <source
          srcset="./img/inside/inside-img-mob.png"
          width="335"
          height="342"
        />
        <img
          class="inside-img"
          src="./img/inside/inside-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="342"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
