<section class="lab-section section" id="lab">
  <div class="container lab-container">
    <div class="lab-content-wrapper">
      <div class="lab-top-wrapper">
        <h2 class="lab-title section-title">We Never Meant to Build This.</h2>
        <p class="lab-text">
          It started as temperature-mapping research.<br />
          Then someone wired an old heart-rate monitor.<br />
          Someone else deleted the “solution” file.
        </p>
        <div class="lab-top-content-bottom-wrapper">
          <div class="lab-lightning-wrapper">
            <svg class="lightning-icon" width="19" height="24">
              <use href="./img/sprite.svg#icon-lightning"></use>
            </svg>
            <p class="lab-lightning-text">
              By the third test, the Unit was keeping a door shut until the
              person inside calmed down.
            </p>
          </div>
          <p class="lab-bottom-text">
            It isn't "AI." It's just sensitive — and slightly resentful.
          </p>
          <div class="lab-attention-wrapper">
            <svg class="attention-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-attention"></use>
            </svg>
            <p class="lab-attention-text">
              Glitches are not bugs; they're feedback.
            </p>
          </div>
        </div>
      </div>
      <picture>
        <source
          srcset="./img/lab/lab-img-desk.png"
          media="(min-width: 1440px)"
          width="660"
          height="497"
        />
        <source srcset="./img/lab/lab-img-mob.png" width="335" height="342" />
        <img
          class="lab-img"
          src="./img/lab/lab-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="342"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
