<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#lab">Concept Lab</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#inside">Inside</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#clients"
          >Who Walks In</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#collaborators"
          >Collaborators</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing"
          >Sessions & Pricing</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" target="_blank" href="policies.pdf#page=1"
          >Privacy Policy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" target="_blank" href="policies.pdf#page=7"
          >Terms and Conditions</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" target="_blank" href="policies.pdf#page=11"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
