<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <h2 class="play-title section-title">Simple moves, small repairs</h2>
      <p class="play-text">
        You match tiles. They spark, things heal. Each completed level repairs a
        piece of the world — a bridge, a memory, a heartbeat.
      </p>
      <ul class="play-list">
        <li class="play-list-item">
          <picture>
            <source
              srcset="./img/play/play-img1-desk.png"
              media="(min-width: 1440px)"
              width="91"
              height="108"
            />
            <source
              srcset="./img/play/play-img1-mob.png"
              width="65"
              height="76"
            />
            <img
              class="play-img"
              src="./img/play/play-img1-mob.png"
              alt="Potion"
              width="65"
              height="76"
            />
          </picture>
          <p class="play-item-text">
            Match-3 with unique tools and double treasure chests.
          </p>
        </li>
        <li class="play-list-item">
          <picture>
            <source
              srcset="./img/play/play-img2-desk.png"
              media="(min-width: 1440px)"
              width="111"
              height="108"
            />
            <source
              srcset="./img/play/play-img2-mob.png"
              width="78"
              height="76"
            />
            <img
              class="play-img"
              src="./img/play/play-img2-mob.png"
              alt="Potion"
              width="78"
              height="76"
            />
          </picture>
          <p class="play-item-text">
            Clue fusion” system — combine story fragments to unlock dialogue
          </p>
        </li>
        <li class="play-list-item">
          <picture>
            <source
              srcset="./img/play/play-img3-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="108"
            />
            <source
              srcset="./img/play/play-img3-mob.png"
              width="56"
              height="76"
            />
            <img
              class="play-img"
              src="./img/play/play-img3-mob.png"
              alt="Potion"
              width="56"
              height="76"
            />
          </picture>
          <p class="play-item-text">
            Companions: small toy-like beings who comment and help
          </p>
        </li>
        <li class="play-list-item">
          <picture>
            <source
              srcset="./img/play/play-img4-desk.png"
              media="(min-width: 1440px)"
              width="108"
              height="108"
            />
            <source
              srcset="./img/play/play-img4-mob.png"
              width="76"
              height="76"
            />
            <img
              class="play-img"
              src="./img/play/play-img4-mob.png"
              alt="Potion"
              width="76"
              height="76"
            />
          </picture>
          <p class="play-item-text">
            Explore diverse realms and collect what’s left of their light
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
