<section class="pricing-section section" id="pricing">
  <div class="container pricing-container">
    <h2 class="pricing-title section-title">
      You Pay for the Experience, Not the Explanation
    </h2>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <div class="pricing-icon-wrapper">
          <svg class="pricing-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-lock"></use>
          </svg>
        </div>
        <h3 class="pricing-item-title">Standard Run</h3>
        <p class="pricing-item-price">
          €79 <span class="pricing-item-span">/ person</span>
        </p>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>60 min active
            session
          </li>
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>2-6 players
          </li>
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>Standard difficulty
          </li>
        </ul>
        <a href="#contact" class="pricing-item-link">Book Now</a>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-icon-wrapper">
          <svg class="pricing-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-key"></use>
          </svg>
        </div>
        <h3 class="pricing-item-title">Extended Protocol</h3>
        <p class="pricing-item-price">
          €229 <span class="pricing-item-span">/ group</span>
        </p>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>90 min session
          </li>
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>Optional data
            snapshot
          </li>
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>Enhanced experience
          </li>
        </ul>
        <a href="#contact" class="pricing-item-link">Book Now</a>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-icon-wrapper">
          <svg class="pricing-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-open-lock"></use>
          </svg>
        </div>
        <h3 class="pricing-item-title">Custom Study Runs</h3>
        <p class="pricing-item-price">
          Quote <span class="pricing-item-span">on request</span>
        </p>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>For corporate teams
          </li>
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>University research
          </li>
          <li class="pricing-features-item">
            <span class="pricing-features-item-span"></span>Custom scenarios
          </li>
        </ul>
        <a href="#contact" class="pricing-item-link">Book Now</a>
      </li>
    </ul>
    <div class="pricing-text">
      If the power trips, grab a tool. It’s part of the show.
    </div>
  </div>
</section>
