<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="reviews-title section-title">What players wrote to us</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img1-mob.png"
              alt="Avatar"
              width="288"
              height="222"
              loading="lazy"
            />
            <h3 class="reviews-item-name">Lina</h3>
            <p class="reviews-item-text">“Sometimes lags, still lovely.”</p>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img2-mob.png"
              alt="Avatar"
              width="288"
              height="222"
              loading="lazy"
            />
            <h3 class="reviews-item-name">Elin</h3>
            <p class="reviews-item-text">
              “Didn’t expect a match-3 to hit this deep.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img3-mob.png"
              alt="Avatar"
              width="288"
              height="222"
              loading="lazy"
            />
            <h3 class="reviews-item-name">Taro</h3>
            <p class="reviews-item-text">
              “I play it before bed. The music fixes my head a bit.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-img"
              src="./img/reviews/reviews-img4-mob.png"
              alt="Avatar"
              width="288"
              height="222"
              loading="lazy"
            />
            <h3 class="reviews-item-name">Jonas</h3>
            <p class="reviews-item-text">
              “My kid keeps asking where Ruth went next.”
            </p>
          </li>
        </ul>
      </div>
      <div class="controls reviews-controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="25">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="reviews-dot active"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="25">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
