@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/lab.scss';
@import './components/inside.scss';
@import './components/clients.scss';
@import './components/collaborators.scss';
@import './components/pricing.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
